div#userNav {
	width: 100%;
	height: 20px;
	background-color: #cfdced;
	margin:0px auto;
}

div#userNav ul {
	list-style-type: none;
}

div#userNav ul li {
	color: #000000;
	width: 80px;
	float: right;
}

div#userNav ul li a {
	color: #000000;
}

div#userNav ul li a:hover {
	color: #ff0000;
}

div#logo {
	width: 100%;
	background-color: #f0f0f0;
	text-align: center;
	margin: 0 auto;
}

#nav {
	margin-top:-10px;
	border-radius:10px;
	box-shadow: 5px 5px 5px #888888;
	width: 174px;
	line-height: 24px;
	list-style-type: none;
	text-align: left;
	background-color:#4c6c8f;
	float:left;
}

#nav ul li{
	list-style-type:none;
}

#nav a{
	background-color:#4c6c8f;
	color: #ffffff;
	text-align:left;
	text-decoration:none;
}

#nav a:hover{
	text-decoration:underline;
}

ul.expanded a{
	margin-left:-25px;
	font-weight:normal;
	font-size:90%;
}


ul.collapsed{
	display: none;
}

table#result {
	margin: 0 auto;
}

table#result input {
	text-align: center;
	width: 80px;
}

div#background {
	width: 850px;
	margin: auto;
}